:root{
    --primary-color: #0c0f16;
    --secondary-color: #121721;
    --third-color: #1b202a;
    --fourth-color: #547ec7;
    --white-color: #fff;
     
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: var(--primary-color);
}

.max-width{
    max-width: 1300px;
    padding: 0 10px;
    margin: auto;
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 20px 0;
    background-color: var(--secondary-color);
    border-bottom: solid var(--third-color) 1px;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: var(--fourth-color);
    font-size: 25px;
    font-weight: 500;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: var(--white-color);
    font-size: 16px;
    font-weight: 500;
    margin-left: 25px;
}
.menu-btn{
    color:var(--white-color);
    font-size: 23px;
    cursor:pointer;
    display: none;
}
/*@media cria os breakpoint, o código acima mostra desaparee caso a tela esteja no max-width setado */
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .navbar .menu{
        background-color: var(--secondary-color);
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 80px;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 13px 0;
        font-size: 25px;
    }
}
