
:root{
    --primary-color: #0c0f16;
    --secondary-color: #121721;
    --third-color: #1b202a;
    --fourth-color: #547ec7;
    --fifth-color:#b02ab7;
    --white-color: #fff;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html, body{
    height: 100%;
}

body{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
}

.max-width{
    max-width: 81.25em;
    padding: 0 0.625em;
    margin: auto;
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 1.25em 0;
    background-color: var(--secondary-color);
    border-bottom: solid var(--third-color) 0.0625em ;

    font-family: 'Ubuntu', sans-serif;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: var(--fourth-color);
    font-size:  1.5625em;
    font-weight: 700;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: var(--white-color);
    font-size: 1em;
    font-weight: 500;
    margin-left:  1.5625em;
}
.menu-btn{
    color:var(--white-color);
    font-size: 1.4375em;
    cursor:pointer;
    display: none;
}
/*Section do site*/
section{
    padding: 3.125em 0;
}

@media (max-width: 43.125em){
    section{
        padding: 1.25em 0;
    }
}

.top{   
    color: var(--white-color);
    display: flex;
    background: url('../images/topo_v2.jpg')no-repeat center;
    background-size: cover;
    height: 100vh;
    min-height: 31.25em;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

.top .max-width{
    width: 100%;
    display:flex;
    padding: 1.25em;
}
.top .top-content .text-1{
    font-size: 1.5625em;
}
.top .top-content .text-2{
    font-style: 3.4375em;
    font-weight: 400;

}
.top .top-content .text-3{
    font-size: 2em;
}

.top .top-content button{
  border: none;
  color: var(--third-color);
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 0.25em 0.125em;
  cursor: pointer;

  border-radius: 0.25em;
}

.top .top-content button.submit{
    
   background-color:var(--white-color);
}
.top .top-content button.submit:hover{
    background-color: var(--fifth-color);
    transition: all 1s;
}
/* Services */

.services{
    color: var(--white-color);
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
}

.services .title{
    text-align: center;
    margin: 1.5em;
    font-size: 2.1875em;
    font-weight: 400;
}

.services .serv-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.services .serv-content .card{
   width: calc(33% - 1.25em);
   background-color: var(--third-color);
   text-align: center;
   border-radius: 0.375em;
   padding: 3.125em 1.5625em;
   cursor: pointer;
   transition: all 1s ease;
}

.services .serv-content .card:hover{
    background-color: var(--fifth-color);
    transition: all 1s ease;
}

.services .serv-content .card i{
    font-size: 3.125em;
    color: var(--fifth-color);
    transition: all 1s ease;
}

.services .serv-content .card:hover i{
    color: var(--white-color);
}

.services .serv-content .card:hover .box{
    transform: scale(1.05);
    transition: all 0.5s ease;
}

.services .serv-content .card .text{
    font-size: 1,5625em;
    font-weight: 500;
    margin: 0.75em 0 0.5em 0; 
}

/*Footer do site*/
footer{
    background-color: var(--secondary-color);
    padding: 1.5625em  1.4375em;
    color: var(--white-color);
    text-align: center;
    margin-top: auto;
    font-family: 'Poppins', sans-serif;
}

footer span a{
    color: var(--fourth-color);
}

footer span a:hover{
    color: var(--white-color);
}

/*@media cria os breakpoint, o código acima mostra desaparee caso a tela esteja no max-width setado */
@media (max-width: 59.1875em){
    .menu-btn{
        display: block;
        z-index: 999;
    }

    .menu-btn i.active:before{
        content: "\f00d";
    }

    .navbar .menu{
        background-color: var(--secondary-color);
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        padding: 5em;
        transition: all 0.3s ease;
    }

    .navbar .menu.active{
        left: 0;
        /*Centralizar o conteudo do navbar*/
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 0.8125em 0;
        font-size:  1.5625em;
    }
    .max-width{
        max-width: 58.125em; 
    } 
}   

/* Breakpoint para adaptação mobile(card) */
    @media (max-width: 59.1875em){
        .services .serv-content .card{
            width: calc(50% - 0.625em);
            margin-bottom: 1.25em;
        }
    }
/* Breakpoint para adaptação mobile(card)390px* */
    @media (max-width: 24.375em){
        .services .serv-content .card{
            width: calc(100%);
        }
    }






